<div class="card mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center">コメント一覧(全 <%= board.board_comments.count %> 件)</li>
    <% board.board_comments.each do |board_comment| %>
      <li class="list-group-item">
        <%= link_to user_path(board_comment.user) do %>
          <i class="fas fa-user"></i>
          <%= board_comment.user.name %>
        <% end %>
        (<%= time_ago_in_words(board_comment.updated_at) %>前)
      </li>
      <li class="list-group-item"><%= board_comment.comment %> </li>
      <% if board_comment.user == current_user %>
        <li class="list-group-item">
          <%= link_to "コメントを削除", board_board_comment_path(board_comment.board, board_comment), class:"text-muted", method: :delete, remote: true %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
