<p>コメント件数: <%= board.board_comments.count %> 件</p>
<% board.board_comments.each do |board_comment| %>
  <p><%= board_comment.user.name %></p>
  <p><%= board_comment.comment %><%= board_comment.created_at.strftime('%Y/%m/%d') %></p>
    <% if board_comment.user == current_user %>
      <%= link_to "コメントを削除", board_board_comment_path(board_comment.board, board_comment), method: :delete, remote: true %>
    <% end %>
<% end %>
