<% if post_image.favorited_by?(current_user) %>
  <p>
    <%= link_to post_image_favorites_path(post_image.id), method: :delete, remote: true do %>
      ❤ <%= post_image.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_image_favorites_path(post_image.id), method: :post, remote: true do %>
      ♡ <%= post_image.favorites.count %>
    <% end %>
  </p>
<% end %>
<% if @post_image.favorites.exists? %>
  <%= link_to "いいねしたユーザーをチェックする", post_image_favorites_path(@post_image) %>
<% end %>
