<div class="container">
  <div class="row">
    <div class="d-flex col-md-4 mt-5">
      <% @post_images.each do |post_image| %>
      <div class= "images">
        <%= link_to post_image_path(post_image.id) do %>
          <%= attachment_image_tag post_image, :image, size: "300x300" %>
        <% end %>
        <p>ユーザーネーム：<%= post_image.user.name %></p>
        <p>コメント<%= post_image.post_image_comments.count %>件</p>
        <p>❤︎<%= post_image.favorites.count %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>