<% content_for :title, "フォトギャラリー farcle" %>
<div class="container">
  <%= render "shared/flash_message" %>
  <div class="row">
    <div class="col-md-12 mx-auto mt-3">
      <div class="jumbotron">
      <h2 class="display-4">Photo Gallery</h2>
      <p class="lead">自慢の畑や生産物を仲間と共有してみませんか？</p>
      <hr class="my-4">
      <p>お気に入りの写真を見つけたら、ぜひいいねやコメントをしてみましょう!他の仲間の励みになります。</p>
          <%= link_to new_post_image_path, class:"btn btn-outline-primary" do %>
            <i class="fas fa-camera">  新規投稿する</i>
          <% end %>
      </div>
    </div>
    <% @post_images.each do |post_image| %>
      <div class="col-md-3">
        <div class="card-deck mt-5">
          <div class="card mb-3">
            <%= link_to post_image_path(post_image.id) do %>
              <%= attachment_image_tag post_image, :image, size: "250x200", class:"card-img-top" %>
            <% end %>
            <div class="card-body">
              <h6 class="card-title">
                <i class="far fa-user" style="color:darkblue"></i>
                  <%= link_to user_path(post_image.user) do %>
                    <%= post_image.user.name %>
                  <% end %>
              </h6>
              <p class="card-text">
                <i class="far fa-comments"></i> <%= post_image.post_image_comments.count %>
                <i class="fas fa-heart" style="color:violet"></i>︎ <%= post_image.favorites.count %>
              </p>
            </div>
            <div class="card-footer text-right">
              <small class="text-muted"><%= time_ago_in_words(post_image.updated_at) %>前</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>