<% content_for :title, "投稿写真詳細 farcle" %>
<div class="container">
  <%= render "shared/flash_message" %>
  <div class="row">
    <div class= "col-md-8 col-sm-10 mx-auto mt-4">
      <div class="post-body">
        <%= attachment_image_tag @post_image, :image, class: "img-fluid rounded"  %>
        <div class="card border-light mt-3">
          <div class="card-body">
            <h5 class="card-title">
              <%= attachment_image_tag @user, :profile_image, size: "50x50", format: "jpeg", fallback: "image/no_image.jpg", class: "rounded-circle" %>
              <%= link_to @post_image.user.name, user_path(@user) %>
              <%= @post_image.created_at.strftime('%Y/%m/%d') %>
              </h5>
              <p class="card-text"><%= @post_image.caption %></p>
              <% if @post_image.tags.present? %>
              <div class="mt-2">
                <% @post_image.tags.each do |tag| %>
                  <div class="badge badge-secondary">
                    <%= link_to tag.tag_name %>
                  </div>
                <% end %>
              </div>
              <% else %>
                <p>タグの登録がありません</p>
              <% end %>

              <p class="card-text">
                <div id="favorites_buttons_<%= @post_image.id %>">
                  <%= render partial: 'user/favorites/favorite', locals: {post_image: @post_image} %>
                </div>
              </p>
              <p class="card-text text-right">
                <% if @post_image.user == current_user %>
                  <%= link_to "編集する", edit_post_image_path(@post_image), class:"btn btn-outline-info" %>
                  <%= link_to "この投稿を削除", post_image_path(@post_image), method: :delete, class:"btn btn-outline-secondary", data: {confirm: "削除しますか?"} %>
                <% end %>
              </p>
          </div>
        </div>
      </div>
    </div>
      <!-- コメント機能 -->
    <div class="col-md-4 col-sm-10 mx-auto mt-2 mb-3">
      <div class="card text-black bg-light mt-3">
          <%= form_with(model: [@post_image, @post_image_comment]) do |f| %>
            <div class="card-body">
              <div class="input-group">
                <%= f.text_area :comment, placeholder: "コメントをここに入力してください", class: "form-control" %>
              </div>
              <div class="text-right mt-3">
                <%= f.submit "コメントを送信", class: "btn btn-outline-dark" %>
              </div>
            </div>
          <% end %>
      </div>
      <div class="post_image_comments">
        <%= render partial: 'user/post_image_comments/index', locals: { post_image: @post_image } %>
      </div>
    </div>
      <!-- コメント機能ここまで -->
  </div>
</div>


