<div class="container">
  <div class="row">
    <div class= "col-md-4">
      <div class="post-body mt-3 ">
        <%= attachment_image_tag @post_image, :image, size: "300x300" %>
        <p>説明：<%= @post_image.caption %></p>
        <p>ユーザーネーム：<%= link_to @post_image.user.name, user_path(@user) %></p>
        <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
        <% if @post_image.user == current_user %>
          <%= link_to "この投稿を削除する", post_image_path(@post_image), method: :delete %>
        <% end %>

      <!-- いいね機能 -->
        <div id="favorites_buttons_<%= @post_image.id %>">
          <%= render partial: 'user/favorites/favorite', locals: {post_image: @post_image} %>
        </div>
      <!-- いいね機能ここまで -->

      <!-- コメント機能 -->
        <div class="comment_form">
          <%= form_with(model:[@post_image, @post_image_comment]) do |f| %>
            <%= f.text_area :comment, rows:'3', placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class: "btn btn-outline-dark comment-submit float-right" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="post_image_comments col-md-6 mt-3">
      <%= render partial: 'user/post_image_comments/index', locals: { post_image: @post_image } %>
    </div>
      <!-- コメント機能ここまで -->
  </div>
</div>
