<p>コメント数: <%= post_image.post_image_comments.count %></p>
<% post_image.post_image_comments.each do |post_image_comment| %>
  <p><%= post_image_comment.user.name %><%= post_image_comment.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= post_image_comment.comment %></p>
  <% if post_image_comment.user == current_user %>
    <div class="comment-delete">
      <%= link_to "削除する", post_image_post_image_comment_path(post_image_comment.post_image, post_image_comment), method: :delete, remote: true %>
    </div>
  <% end %>
<% end %>
