<% content_for :title, "掲示板 farcle" %>
<div class="container">
  <%= render "shared/flash_message" %>
  <div class="row">
    <div class="col-md-10 mx-auto mt-3">
      <div class="card mb-3">
        <h2 class="card-header text-center">交流掲示板</h2>
          <div class="card-body text-info">
            <p class="card-text">日々の作業での悩みや疑問点を共有しませんか?</p>
          </div>
      </div>
        <%= form_with url: search_boards_path, method: :get, local: true, class:"form-inline mb-2" do |f| %>
          <div class="form-group flex-grow-1">
            <%= f.text_field :keyword, value: @keyword, class: "form-control flex-grow-1 mr-1", placeholder: "検索キーワード入力" %>
            <%= button_tag type: "submit", class: "btn btn-outline-primary" do %>
              <i class="fas fa-search"></i>トピック検索
            <% end %>
          </div>
        <% end %>
      <div class="card">
        <div class="card-header">
          <%= link_to new_board_path, class: "btn btn-outline-primary" do %>
            <i class="fas fa-plus"></i> 新規トピック作成
          <% end %>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">トピック一覧</li>
            <% @boards.each do |board| %>
              <li class="list-group-item d-flex">
              <%= link_to board.title, board_path(board), class: "d-inline-flex flex-grow-1" %>
              <p class="d-inline-flex text-right mb-0">コメント件数: <%= board.board_comments.count %> 件</p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>