<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-5">
      <div class="boards">
        <p><%= @board.title %></p>
        <P><%= @board.body %></P>
        <p>ユーザーネーム：<%= link_to @board.user.name, user_path(@user) %></p>
        <p>投稿日時：<%= @board.created_at.strftime('%Y/%m/%d') %></p>
        <% if @board.user == current_user %>
          <p><%= link_to "編集する", edit_board_path(@board) %></p>
          <p><%= link_to "スレッドを削除する", board_path(@board), method: :delete %></p>
        <% end %>
      </div>
      <div class="board-comments">
        <%= render 'user/board_comments/index', board: @board %>
      </div>
        <%= form_with(model: [@board, @board_comment]) do |f| %>
          <%= f.text_area :comment, placeholder: "コメント欄" %>
          <%= f.submit "送信" %>
        <% end %>
    </div>
  </div>
</div>
